@tailwind preflight;

@tailwind components;

@import url('https://fonts.googleapis.com/css?family=Damion|Merriweather|Open+Sans');
@import "~highlight.js/styles/github";

html, body {
    background-color: #fcfcfc;
    @apply font-sans;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
}

pre, code {
    white-space: pre;
    overflow-x: scroll;
}

.hljs {
    overflow-x: scroll;
    @apply p-4 text-sm;
}

.personal {
    @apply font-serif italic;
}

.content > h1, .content > h2, .content > h3, .content > h4, .content > h5, .content > h6 {
    @apply mt-6 mb-2;
}

.content > p {
    @apply mb-6 text-lg relative leading-normal;
}

.content .note {
    right: -11rem;
    max-width: 9rem;
    @apply absolute pin-t text-xs font-serif;
}



@tailwind utilities;


